@{
    var myModel = new LayoutViewModel();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cyb_mcfr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cyb_mcfr.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cyb_mcfr</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <p id="tickerObject">-</p>
                    <button type="button" class="btn btn-danger" onclick="DebugButtonLogout()">(DEBUG) Force timeout</button>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Cyb_mcfr - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        // Constants and Variables
        const n = @myModel.SessionDurationMinutes; // Replace n with your desired timeout in minutes.
        const timeoutInMinutes = n;
        const timeoutInSeconds = n * 60;
        const timeout = timeoutInSeconds * 1000; // Convert seconds to milliseconds
        let logoutTimer;

        // Logout-related functions
        function ForceLogout() {
            window.location.href = '/Identity/Account/Logout';
        }

        function DebugButtonLogout() { //candidate for getting trashed soon
            console.log("Button pressed: Forcing logout by timeout...");
            ForceLogout();
        }

        // Timer display function
        function ticker() {
            const fullTime = timeoutInSeconds;
            let counter = 0;

            setInterval(function () {
                const element = document.getElementById("tickerObject");

                if (element) {
                    const timeLeft = fullTime - counter;
                    element.textContent = timeLeft;
                    counter++;
                }
            }, 1000);
        }

        @if (User.Identity.Name != null) // C# if statement
        {
            myModel.IsLoggedIn = true;
        }

        if (@myModel.IsLoggedIn.ToString().ToLower()) {
            logoutTimer = setTimeout(ForceLogout, timeout);
            ticker();
        }
    </script>

    @*<script src="~/js/timeout.js" asp-append-version="true"></script> @* <--- kod dot. wylogowywania po czasie *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
